.content-menu{
	display: inline-block;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: -700px;		
	@include transition( all 0.6s ease-out);
	.menu-inner{
		box-shadow: 0 2px 15px rgba(0,0,0,0.3);
	}	
	@include respond-to(medium-screens) {
		width: 238px;
		position: absolute;
		right: 0;
		z-index: 100;
    	.menu-inner{
			border-radius: 4px;
			overflow: hidden;
		}
		&:before{	
			content: '';
			display: block;
			position: absolute;	
			height: 25px;
			width: 25px;
			top: -9px;
			right: 33px;
			background: #d7d9e0;
			background: linear-gradient(135deg, #fff 0%,#eff3f7 45%,#eff3f7 100%);
			@include rotateA(45deg);
		}
	}
	@include respond-to(wide-screens) {
		position: relative;
		width: 250px;
		display: inline-block;
		top: 0;
		right: 0;
		margin-bottom: 20px;
		.menu-inner{
			box-shadow: none;
		}
		&:before{			
			display: none;			
		}
	}
}
.activebefore{
	&:before{
		background: $colorBackAccent;
	}
}


.menuactiv{
	top: -15px;
	@include respond-to(medium-screens) {
		top: -66px;
	}
}

.menu-item{
	text-align: center;
	&:first-child .menu-link{
		border-top: 0;
	}
	@include respond-to(wide-screens) {
		text-align: left;
		position: relative;
		&:first-child{

		}
	}	
}
.menu-list {
	background: $colorBackMain;
}
.menu-item {
	.menu-link {
		padding: 10px 5px;
		display: block;
		font-size: 1.5rem;
		text-decoration: none;
		color: $colorFontMain * 1.45;
		border-top: 1px solid $colorBackAccent;

		&:hover {
			color: $colorBackAccent * 0.5;
		}
		@include respond-to(wide-screens) {
			padding: 19px 0 19px 17px;
			width: 90%;
			margin: 0 auto;
			font-size: 1.3rem;
			border-top: 2px solid #3ba8c0;

		}
	}
	&:first-child {
		.menu-link {
			border: none;
		}
	}
}
.menu-item-active{
	background: $colorBackAccent;
	.menu-link {
		color: $colorFontAccent;
		display: block;
	}
	&:hover {
		background: $colorBackAccent * 0.9;
		.menu-link {
			color: $colorFontAccent;
		}
	}
	@include respond-to(wide-screens) {
		.menu-link {
			padding: 19px 0 19px 17px;
			margin-bottom: -2px;
		}
	}

}

.fon-mobile{
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top:-17px;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	@include respond-to(medium-screens) {
		top: -37px;
		z-index: 99;
	}
}