.footer{
	position: absolute;
	bottom: 0;
	height: 37px;
	background: $colorBackMain;
	width: 100%;
	&__wrapper{
		margin: 0 auto;
		width: 92.1875%;
		height: 95%;
		text-align: center;
		position: relative;
	}

	&:before{
		@include lineGradient;
	}
}
.footer-content{
	height: 100%;	
	&:before{
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;	
	}
}
.footer-text{
	color: $colorFontMain;
	width: 90%;
	font-size: 0.8rem;
	line-height: 0.8;
	display: inline-block;
	vertical-align: middle;
}