.header{
	height: 55px;
	background: $colorBackMain;
	position: relative;
	margin-bottom: 17px;
	&__wrapper{
		margin: 0 auto;
		width: 87.1875%;
		height: 100%;
		padding: 10px 0;
	}
	&-socials-block{
		display: none;
	}
	&:after{
		@include lineGradient;
	}
}
.socials__item, .socials__list{
	display: inline-block;
}


.header_logo{
	height: 100%;
    display: inline-block;
	&:before{
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;	
	}
	&__img{
		max-height: 100%;
    	max-width: 100%;
    	display: inline-block;
		vertical-align: middle;	
	}
}
.header_meny{
	display: inline-block;
	float: right;
	height: 100%;	
	cursor: pointer;
	&:before{
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;	
	}
	&-list{
		width: 25px;
		display: inline-block;
		vertical-align: middle;
	}
	&-item{
		height: 5px;
		margin-bottom: 3px;
		background: $colorIconMeny;
		border-radius: 2px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&:hover &-item {
		background: $colorBackAccent;
	}
}
