extends ../main

block title
	| Главная страница

block content
	include ../_elements/header

	.content
		.content-inner
			include ../_elements/content-meny			
			include ../_elements/content-content
			include ../_elements/content-sidebar					

	include ../_elements/footer