extends ../main

block title
	| Главная страница

block content
	include ../_elements/header

	.content
		.content-inner
			+menus('index.html', 'activebefore')
			include ../_elements/content-index
			include ../_elements/content-sidebar					

	include ../_elements/footer