header.header
	.header__wrapper
		a(href='http://p-max-p.ru/').header_logo
			img( src='./img/max.png').header_logo__img
		.header_meny
			ul.header_meny-list
				- for (var i = 0; i < 3; i++)
					li.header_meny-item
		+socials('header')