
*{
	box-sizing: border-box;
	@include myFont(firasans-book);
	font-weight: normal;
}
ul {
	// font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	min-width: 250px;
}
.page{
	min-height: 100%;
	position: relative;
	background: url(../img/comppattern.png) #fbfcfd;
}
.content{
	padding-bottom: 35px;
	position: relative;
	@include clearfix;
	@include respond-to(medium-screens) {
		padding-bottom: 55px;
	}
	@include respond-to(wide-screens) { 
		&-inner{
			width: 960px;
			margin: 0 auto;		
		}
		padding-bottom: 78px;
	}	
}
.content-content{
	&-inner{
		width: 91.1875%;
		margin:0 auto;
	}
	@include respond-to(wide-screens) { 
		width: 650px;
		display: block;
		float: right;
		vertical-align: top;
		&-inner{
			width: 100%;			
		}
	}	
}

.socials__list{
	width: 91.1875%;
	margin:0 auto;
	@include respond-to(medium-screens) {
		width: 84.1875%;
	}
}
.socials__item{
	display: inline-block;
	width: 25%;
	text-align: center;
	&:last-child{
		margin-right: 0;
	}
}
.socials__link{
	overflow: hidden;
	display: inline-block;
	outline: none;
	&:focus{
		outline: none;
	}
	.social-text{
		font-size: 0;
	}
}

.socials__link_facebook{
	@include my-sprite ($facebook);
	&:hover{
		@include my-sprite ($facebook-hover);
	}
}
.socials__link_twitter{
	@include my-sprite ($twitter);
	&:hover{
		@include my-sprite ($twitter-hover);
	}
}
.socials__link_vkontacte{
	@include my-sprite ($vkontacte);
	&:hover{
		@include my-sprite ($vkontacte-hover);
	}
}
.socials__link_github{
	@include my-sprite ($github);
	&:hover{
		@include my-sprite ($github-hover);
	}
}
.hoverhide{
	display: none;
}
.hovershow{
	display: block;
}

$colorBackMain: rgba(239, 243, 247, 1);
$colorFontMain: rgba(90, 99, 107, 1);
$colorFontMeny: rgba(129, 150, 172, 1);
$colorBackAccent: rgba(47, 165, 188, 1);
$colorFontAccent: rgba(254, 254, 255, 1);
$colorFontForm: rgba(88, 105, 122, 1);
$colorBorderGradient: linear-gradient(to left, #f2f6fa 0%, #1c667a 50%, #f2f6fa 100%);
$colorSkillsGradient: linear-gradient(to bottom, #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%);
$colorIconMeny: #58697a;
$colorSkils: red;
