
*{
	box-sizing: border-box;
}
ul {
	// font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	min-width: 250px;
}
.page{
	min-height: 100%;
	position: relative; 
}
.content{
	padding-bottom: 35px;
	position: relative;
}
.content-inner{
	width: 91.1875%;
	margin:0 auto;
}
$colorBackMain: #eff3f7;
$colorFontMain: #5a636b;
$colorFontMeny: #8196ac;
$colorBackAccent: #2fa5bc;
$colorFontAccent: #fff;
$colorBorderGradient: linear-gradient(to left, #f2f6fa 0%, #1c667a 50%, #f2f6fa 100%);;
$colorIconMeny: #58697a;
$colorSkils: red;
