//@include clearfix;

$small: 320px;
$middle: 768px;
$large: 1100px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $middle) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}
  // @include respond-to(handhelds) { }
  // @include respond-to(medium-screens) { }
  // @include respond-to(wide-screens) { }
@mixin inBlockMiddle{
   display: inline-block;
   vertical-align: middle;
}

@mixin spacer{
  &:before{
    height: 100%;
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin clearfix{
	&:before, &:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}   
}

@mixin iconContact($cont){
	display: inline-block;
	margin: 0 auto;
  vertical-align: middle;
	@include my-sprite($cont);
}

@mixin myFont($fonts){
  font-family: $fonts, arial, helvetica;
}

@mixin rotateA($angle) {
  -moz-transform: rotate($angle);  /* Firefox */
  -o-transform: rotate($angle);  /* Opera */
  -webkit-transform: rotate($angle);  /* Safari y Chrome */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE */
}
@mixin transition($transition){
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
}

@mixin texthide{
  position: absolute;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  padding: 0;
  // parent (overflow: hidden;)
}

@mixin lineGradient{
  display: block;
  content: '';
  height: 2px;
  background: $colorBorderGradient;
  @include respond-to(wide-screens) {
    height: 4px;
  }
}

@mixin sprite-image-path($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url('../img/#{$sprite-image}');
}

@mixin my-sprite($sprite) {
  @include sprite-image-path($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}